<!-- This example requires Tailwind CSS v2.0+ -->
<div id="<%= name %>_modal" data-controller="modal--component resource" <%= 'hidden' if hidden %>>
  <div class="relative z-30" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <!--
      Background backdrop, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="relative bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full sm:p-6">
          <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
            <button id="<%= name %>--close" type="button" class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500" data-action="click->modal--component#close" data-modal--component-name-param="<%= name %>">
              <span class="sr-only">Close</span>
              <%= icon(name: :x, colour: :gray) %>
            </button>
          </div>
          <div id="<%= name %>--content" class="sm:flex sm:items-start pt-4">
            <%= confirmation if confirmation? %>
            <%= form if form? %>
          </div>
          <div id="<%= name %>--buttons" class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
            <% buttons.each do |button| %>
              <%= button %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>