<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= task.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Context:</strong>
    <%= task.context_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Context type:</strong>
    <%= task.context_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Before:</strong>
    <%= task.before %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">After:</strong>
    <%= task.after %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= task.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Error:</strong>
    <%= task.error %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Requires approval:</strong>
    <%= task.requires_approval %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Approved:</strong>
    <%= task.approved %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Approved at:</strong>
    <%= task.approved_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this task", task, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this task', edit_task_path(task), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
