<button
  id="<%= id %>"
  type="button"
  title="<%= options[:title] %>"
  class="<%= options[:colour_classes] %> inline-flex items-center px-2 py-1 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2"
  data-action="<%= options.dig(:data, :action) %>"
  <% options.fetch(:data, {}).fetch(:params, []).each do |param| %>
  data-<%= param[:name] %>-param="<%= param[:value] %>"
  <% end %>
>
  <% if options[:icon].present? %>
    <%= icon(**options[:icon]) %>
  <% end %>
  <%= label %>
</button>