<div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5" data-controller="resource-form--component">
  <div>
    <label id="<%= field_id %>--label" for="<%= field_id %>" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-">
      <%= label %>
    </label>
    <% if help.present? %>
      <div id="<%= field_id %>--help" class="mt-2 text-sm text-gray-300 inline-flex items-center">
        <%= icon(name: :question_mark_circle, colour: :blue, options: { size: 5 }) %><%= help %>
      </div>
    <% end %>
  </div>
  <div class="mt-1 sm:mt-0 sm:col-span-2">
    <div class="flex items-center">
      <span id="<%= field_id %>--image" class="h-24 w-24 overflow-hidden rounded-full bg-gray-100">
        <% if image_url.present? %>
          <%= image_tag(image_url, class: 'inline-block h-24 w-24 rounded-full', referrerpolicy: 'no-referrer') %>
        <% else %>
          <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
            <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
        <% end %>
      </span>
    </div>
  </div>
</div>