<% if nested? %>
  <%= turbo_stream_from "#{@parent.resource_name}_#{@parent.id}_audits" %>
<% else %>
  <%= turbo_stream_from "audits" %>
<% end %>
<%= turbo_stream_from "errors" %>
<div class="w-full" data-controller="errors tab-navigation--component" data-action="resource:error->errors#show editor:increment->tab-navigation--component#increment editor:decrement->tab-navigation--component#decrement">
  <% flash.each do |type, message| %>
    <%= render Notification::Component.new(name: :index, type: type, message: message) %>
  <% end %>

  <% if nested? %>
    <%= render partial: "#{@parent.resource_name_plural}/navigation", locals: { resource: @parent } %>
  <% end %>

  <%= render PageHeading::Component.new(title: resource_class.model_name.human(count: 2), description: t('.description')) %>
  <%= render CollectionFilter::Component.new(filter: @q, url: filter_url) do |component| %>
    <% component.with_element do |e| %>
      <% e.with_component_list(
             label: t('.filters.actions.label'),
             attribute: :action,
             options: [
                 { text: t('.filters.actions.options.create'), value: 'create' },
                 { text: t('.filters.actions.options.update'), value: 'update' },
                 { text: t('.filters.actions.options.destroy'), value: 'destroy' },
             ],
             selected_options: params.dig(:q, "action_in")
         ) %>
    <% end %>
    <% component.with_element do |e| %>
      <% e.with_component_date_range(
             attribute: :created_at,
             from_date: params.dig(:q, :created_at_gteq),
             to_date: params.dig(:q, :created_at_lteq)
         ) %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "page_handler" %>
  <div
    id="collection"
    class=min-w-full"
  >
    <%= render Collection::Component.new do |collection_component| %>
      <%= collection_component.with_header(columns: [
          { sorter: sort_link(@q, :action, resource_class.human_attribute_name(:action), default_order: :desc, class: 'group inline-flex') },
          { sorter: sort_link(@q, :user_of_User_type_email, resource_class.human_attribute_name(:email), default_order: :desc, class: 'group inline-flex') },
          { sorter: sort_link(@q, :created_at, resource_class.human_attribute_name(:created_at), default_order: :desc, class: 'group inline-flex') },
          { label: resource_class.human_attribute_name(:audited_changes) }
      ]) %>
      <% if @collection.any? %>
        <%= collection_component.with_rows do |rows_component| %>
          <%= render partial: 'rows', locals: { rows_component: rows_component } %>
        <% end %>
      <% end %>
      <%= collection_component.with_pager(
              paginator: @pagy,
              collection_path_method: collection_path_method,
              parent_param: ( @parent if nested?),
              filter_params: params[:q]) %>
    <% end %>
  </div>
  <div id="notifications"></div>
</div>


