<%= @collection.each do |resource| %>
  <%= rows_component.with_row(id: dom_id(resource, "turbo_stream")) do |rc| %>
    <%= rc.with_body do %>
      <td id="<%= dom_id(resource, :name) %>" class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">
        <%= resource.name %>
      </td>
      <td id="<%= dom_id(resource, :canonical) %>" class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
        <button type="button" class="<%= resource.canonical? ? 'bg-indigo-600' : 'bg-gray-200' %> relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" role="switch" aria-checked="false">
          <span class="sr-only">Canonical</span>
          <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
          <span aria-hidden="true" class="<%= resource.canonical? ? 'translate-x-5' : 'translate-x-0' %> pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
        </button>
      </td>
      <td id="<%= dom_id(resource, :created_at) %>" class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
        <%= time_ago_in_words(resource.created_at, include_seconds: true) %> ago
      </td>
      <td id="<%= dom_id(resource, :updated_at) %>" class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
        <%= time_ago_in_words(resource.updated_at, include_seconds: true) %> ago
      </td>
      <td id="<%= dom_id(resource, :actions) %>" class="relative whitespace-nowrap border-b border-gray-200 py-4 pr-4 pl-3 text-right text-sm font-medium sm:pr-6 lg:pr-8">
        <%= render Button::Component.new(
            id: dom_id(resource, :view),
            label: 'View',
            options: {
                title: polymorphic_path(resource),
                icon: { name: :eye, colour: :white },
                colour_classes: 'text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-200',
                data: {
                    params: [{ name: 'resource-url', value: polymorphic_path(resource) }],
                    action: 'click->resource#navigate'
                }
            }
        ) %>
        <%= render Button::Component.new(
            id: dom_id(resource, :delete),
            label: 'Delete',
            options: {
                icon: { name: :trash, colour: :white },
                colour_classes: 'text-white bg-red-500 hover:bg-red-600 focus:ring-red-200',
                data: {
                    params: [
                        { name: 'resource-id', value: resource.id },
                        { name: 'resource-modal-name', value: :item_sell_packs_delete_confirmation }
                    ],
                    action: 'click->resource#confirmDelete'
                }
            }
        ) %>
      </td>
    <% end %>
  <% end %>
<% end %>