<%= turbo_stream_from "item_sell_pack" %>
<%= turbo_stream_from "notification_item_sell_pack_#{@resource.id}" %>
<%= turbo_stream_from "errors" %>
<% flash.each do |type, message| %>
  <%= render Notification::Component.new(name: :edit, type: type, message: message) %>
<% end %>
<%= render ResourceActions::Component.new do |component| %>
  <% component.with_button(
         id: dom_id(@resource, :back),
         label: 'Back',
         options: {
             title: polymorphic_path(@resource_class),
             icon: { name: :arrow_left, colour: :white },
             colour_classes: 'text-white bg-sky-600 hover:bg-sky-700 focus:ring-sky-200',
             data: {
                 params: [{ name: 'resource-url', value: polymorphic_path(@resource_class) }],
                 action: 'click->resource#navigate'
             }
         }
     ) %>
  <% component.with_button(
         id: dom_id(@resource, :update),
         label: 'Update',
         options: {
             icon: { name: :save, colour: :white },
             colour_classes: 'text-white bg-emerald-600 hover:bg-emerald-700 focus:ring-emerald-200',
             data: {
                 params: [{ name: 'resource-form-id', value: dom_id(@resource, :form) }],
                 action: 'click->resource#update'
             }
         }
     ) %>
  <% component.with_button(
         id: dom_id(@resource, :delete),
         label: 'Delete',
         options: {
             icon: { name: :trash, colour: :white },
             colour_classes: 'text-white bg-rose-500 hover:bg-rose-600 focus:ring-rose-200',
             data: {
                 params: [
                     { name: 'resource-id', value: @resource.id },
                     { name: 'resource-modal-name', value: :item_sell_packs_delete_confirmation }
                 ],
                 action: 'click->resource#confirmDelete'
             }
         }
     )  %>
<% end %>

<%= render partial: 'resource', locals: { action: :edit, resource: @resource, readonly: false, token: form_authenticity_token } %>

<%= render Modal::Component.new(name: :item_sell_packs_delete_confirmation) do |modal| %>
  <%= modal.with_confirmation(
          name: :item_sell_packs_delete_confirmation,
          title: 'Delete',
          icon_options: { name: :exclamation, colour: :red, options: { classes: '' } },
          message: 'Are you sure you want to delete this? This action cannot be undone.'
      ) %>
  <% modal.with_button(
         id: :confirm_delete,
         label: 'Delete',
         options: {
             icon: { name: :trash, colour: :white },
             colour_classes: 'text-white bg-rose-500 hover:bg-rose-600 focus:ring-rose-200',
             data: {
                 params: [
                     { name: 'resource-id', value: @resource.id },
                     { name: 'resource-url', value: polymorphic_path(@resource_class) },
                     { name: 'resource-modal-name', value: :item_sell_packs_delete_confirmation }
                 ],
                 action: 'click->resource#delete'
             }
         }) %>
<% end %>
<div id="notifications"></div>