<%= turbo_stream_from "item_sell_packs" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render PageHeading::Component.new(title: 'Item Sell Packs', description: 'These are the names for how a supplier sells a complete package') do |c| %>
    <%= c.with_actions do %>
      <%= render Button::Component.new(
          id: :item_sell_packs_new,
          label: 'New',
          options: {
              icon: { name: :plus, colour: :white },
              colour_classes: 'text-white bg-emerald-600 hover:bg-emerald-700 focus:ring-emerald-200',
              data: {
                  action: 'click->resource#new',
                  params: [
                      { name: 'resource-modal-name', value: :item_sell_packs_new }
                  ]
              }
          }
      ) %>
    <% end %>
  <% end %>

  <%= render CollectionFilter::Component.new(filter: @q) %>

  <%= turbo_frame_tag "page_handler" %>
  <div id="collection" class=min-w-full">
    <%= render Collection::Component.new do |collection_component| %>
      <%= collection_component.with_header(columns: [
          {
              sorter: sort_link(@q, :name, 'Name', default_order: :desc, class: 'group inline-flex'),
              classes: 'py-3.5 pl-4 pr-3 sm:pl-6 lg:pl-8'
          },
          { sorter: sort_link(@q, :canonical, 'Canonical', default_order: :desc, class: 'group inline-flex') },
          { sorter: sort_link(@q, :created_at, 'Created At', default_order: :desc, class: 'group inline-flex') },
          { sorter: sort_link(@q, :updated_at, 'Updated At', default_order: :desc, class: 'group inline-flex') }
      ]) %>
      <% if @collection.any? %>
        <%= collection_component.with_rows do |rows_component| %>
          <%= render partial: 'rows', locals: { rows_component: rows_component } %>
        <% end %>
      <% end %>
      <%= collection_component.with_pager(paginator: @pagy, collection_path_method: :item_sell_packs_path, filter_params: params[:q]) %>
    <% end %>
  </div>

  <%= render Modal::Component.new(name: :item_sell_packs_delete_confirmation) do |modal| %>
    <%= modal.with_confirmation(
            title: 'Delete',
            icon_options: { name: :exclamation, colour: :red, options: { classes: '' } },
            message: 'Are you sure you want to delete this? This action cannot be undone.'
        ) %>
    <% modal.with_button(
           id: :confirm_delete,
           label: 'Delete',
           options: {
               icon: { name: :trash, colour: :white },
               colour_classes: 'text-white bg-rose-500 hover:bg-rose-600 focus:ring-rose-200',
               data: {
                   params: [
                       { name: 'resource-id', value: '' },
                       { name: 'resource-url', value: polymorphic_path(@resource_class) },
                       { name: 'resource-modal-name', value: :item_sell_packs_delete_confirmation }
                   ],
                   action: 'click->resource#inlineDelete'
               }
           }) %>
  <% end %>
  <%= render Modal::Component.new(name: :item_sell_packs_new) do |modal| %>
    <%= modal.with_form do %>
      <%= render(partial: 'resource', locals: { action: :new, resource: @resource_class.new, readonly: false, token: form_authenticity_token }) %>
    <% end %>
    <%= modal.with_button(
            id: :save_new,
            label: 'Save',
            options: {
                icon: { name: :save, colour: :white },
                colour_classes: 'text-white bg-emerald-600 hover:bg-emerald-700 focus:ring-emerald-200',
                data: {
                    params: [
                        { name: 'resource-url', value: polymorphic_url(@resource_class) },
                        { name: 'resource-form-id', value: dom_id(@resource_class.new, :form) },
                        { name: 'resource-modal-name', value: :item_sell_packs_new }
                    ],
                    action: 'click->resource#create'
                }
            }) %>
  <% end %>
</div>

