<%= turbo_stream_from "item_sell_pack" %>
<%= turbo_stream_from "notification_item_sell_pack_#{@resource.id}" %>
<% flash.each do |type, message| %>
  <%= render Notification::Component.new(name: :show, type: type, message: message) %>
<% end %>
<%= render TabNavigation::Component.new(id: dom_id(@resource)) do |component| %>
  <% component.with_tab(
         id: :details,
         label: 'Details',
         url: '#',
         active: true,
         options: { parent: @resource, icon_options: { name: :library, colour: :gray } }
     ) %>
  <% component.with_tab(
         id: :aliases,
         label: 'Aliases',
         url: item_sell_pack_item_sell_pack_aliases_path(item_sell_pack_id: @resource),
         options: {
             parent: @resource,
             icon_options: { name: :folder_open, colour: :gray },
             badge_count: @resource.item_sell_pack_aliases.size
         }
     ) %>
  <% component.with_tab(
         id: :audit,
         label: 'Audit',
         url: '#audit',
         options: {
             parent: @resource,
             icon_options: { name: :database, colour: :gray },
             badge_count: @resource.associated_audits.size
         }
     ) %>
<% end %>
<%= render ResourceActions::Component.new do |component| %>
  <% component.with_button(
         id: dom_id(@resource, :list),
         label: 'List',
         options: {
             title: polymorphic_path(@resource_class),
             icon: { name: :arrow_left, colour: :white },
             colour_classes: 'text-white bg-sky-600 hover:bg-sky-700 focus:ring-sky-200',
             data: {
                 params: [{ name: 'resource-url', value: polymorphic_path(@resource_class) }],
                 action: 'click->resource#navigate'
             }
         }
     ) %>
  <% component.with_button(
         id: dom_id(@resource, :edit),
         label: 'Edit',
         options: {
             title: polymorphic_path([:edit, @resource]),
             icon: { name: :pencil, colour: :white },
             colour_classes: 'text-white bg-amber-600 hover:bg-amber-700 focus:ring-amber-200',
             data: {
                 params: [{ name: 'resource-url', value: polymorphic_path([:edit, @resource]) }],
                 action: 'click->resource#navigate'
             }
         }
     ) %>
<% end %>
<%= render partial: 'resource', locals: { action: :show, resource: @resource, readonly: true, token: form_authenticity_token } %>
<div id="notifications"></div>