<%= turbo_stream_from "item_measure" %>
<%= turbo_stream_from "notification_item_measure_#{@resource.id}" %>
<% flash.each do |type, message| %>
  <%= render Notification::Component.new(name: :show, type: type, message: message) %>
<% end %>
<%= render partial: 'navigation', locals: { resource: @resource } %>
<%= render ResourceActions::Component.new do |component| %>
  <% component.with_button(
         id: dom_id(@resource, :list),
         label: t('button.labels.list'),
         options: {
             title: polymorphic_path(resource_class),
             icon: { name: :arrow_left, colour: :white },
             colour_classes: 'text-white bg-sky-600 hover:bg-sky-700 focus:ring-sky-200',
             data: {
                 params: [{ name: 'resource-url', value: polymorphic_path(resource_class) }],
                 action: 'click->resource#navigate'
             }
         }
     ) %>
  <% component.with_button(
         id: dom_id(@resource, :edit),
         label: t('button.labels.edit'),
         options: {
             title: polymorphic_path([:edit, @resource]),
             icon: { name: :pencil, colour: :white },
             colour_classes: 'text-white bg-amber-600 hover:bg-amber-700 focus:ring-amber-200',
             data: {
                 params: [{ name: 'resource-url', value: polymorphic_path([:edit, @resource]) }],
                 action: 'click->resource#navigate'
             }
         }
     ) %>
<% end %>
<%= render partial: 'resource', locals: { action: :show, resource: @resource, readonly: true, token: form_authenticity_token } %>
<div id="notifications"></div>