<div id="<%= dom_id(resource, "#{attribute}_turbo_stream") %>">
  <turbo-frame id="<%= dom_id(resource, "#{attribute}_turbo_frame") %>" class="contents">
    <%= link_to url, id: dom_id(resource, "#{attribute}_editable_element"), class: "editable-element" do %>
      <%= display %>
    <% end %>
    <% if error %>
      <div id="<%= dom_id(resource) %>_<%= attribute %>--server_side_invalid_message" class="text-red-700 font-light"><%= error %></div>
    <% end %>
  </turbo-frame>
</div>